// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.face {
  border-radius: 100%;
  height: 20rem;
  width: 20rem;
  background-color: yellow;
  border: solid 2px black;
}

.eye {
  border-radius: 100%;
  height: 5rem;
  width: 2rem;
  background-color: black;
}

.left {
  position: absolute;
  margin: 5rem 0 0 4rem;
}

.right {
  position: absolute;
  margin: 5rem 0 0 13rem;
}

.mouth {
  height: 5rem;
  width: 13rem;
  border-radius: 0 0 15rem 15rem;
  border-bottom: solid 5px black;
  position: absolute;
  margin: 13rem 0 0 3.5rem;
}
